{% extends "layout.html" %}

{% block header %}
{% endblock %}

{% block heading %}
{% endblock %}

{% block subheading %}
{% endblock %}

{% block body %}
    <form class="container" action="{{ url_for('search') }}" method="post">
        <select name="searchBy" id="searchBy">
            <option value="title">Title</option>
            <option value="author">Author</option>
            <option value="isbn">ISBN-10</option>
        </select>
        <input type="search" name="searchFor" id="searchFor" placeholder="Search for books..."/>
        <input type="submit" value="Submit"/>
    </form>
    
    {% if results %}
    
        <br>
        
        <div class="container book__results">
            <ol class="book__result__list">
                {% for book in results %}
                    <li class="book"><a href="{{ url_for('book', isbn=book.isbn) }}">Title: {{ book.title }}, by: {{ book.author }}. ISBN: {{ book.isbn }}</a></li>
                {% endfor %}
            </ol>
        </div>

    {% endif %}
    
{% endblock %}